<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card card-profile">
          <!-- <div class="card-header card-header-primary" style="background: slategray">
            <h4 class="card-title">Welcome SSRF-CSRF-playground</h4>
            <p class="card-category">Tutorial of web security</p>
          </div> -->
          <div class="card-body">
            <h1><i class="fab fa-node-js fa-3x"></i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-info" style="width: 80%">Register</a>
            <br>
            <a href="/users/login" class="btn btn-success" style="width: 80%">Login</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>